<header class="app-header">
  <mat-toolbar>
    <img src="assets/imagens/logo.png" alt="Logo da aplicação jornada">
    <span class="spacer"></span>
    <div class="links-toolbar">
      <button mat-button>Vender Milhas</button>
      <button mat-button>Sobre</button>
      <ng-container *ngIf="user$ | async as pessoaUsuaria, else login">
        <a routerLink="/perfil">
          <img src="assets/icones/user.png" alt="Ícone do usuário">
        </a>
        <button mat-stroked-button (click)="logout()">Sair</button>
      </ng-container>
      <ng-template #login>
        <button mat-raised-button color="primary" routerLink="/cadastro">Cadastre-se</button>
        <button routerLink="/login" mat-stroked-button>login</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>
